body{
    display: flex;
    width: 100%;
    margin: 0px;
}
.box-trai{
    background-color: rgb(89, 89, 211);
    width: 15%;
    height: 695px;
}
.box-phai{
    width: 85%;
    margin-right: 0;
}
.title{
    font-size: 20px; 
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif; 
    padding: 15.5px;
    color: white;
}
.box{
    border-bottom: 1px solid gray;
    background-color: aliceblue;
    width: 90%;
    margin:auto;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 15px;

}
.box li{
    padding: 10px;
}
.box li:hover{
    background-color: rgb(89, 89, 211,0.5);
}
.menu{
    background-color: rgb(89, 89, 211);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px;
}
.menu li ul{
    position:absolute;
    background-color: rgba(51, 45, 45, 0.8);
    padding: 5px;
    border-radius: 5px;
    margin: 0px;
    top: 35px;
    right: 10px;
    display:none;
    padding: 10px;
}
.menu li:hover ul{
    display: block;
}
.sub-menu li{
    border-bottom: 1px solid white;
}
.sub-menu a{
    color: white;
}
ul{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
}
a{
    text-decoration-line: none;
    color: black;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.container h1{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width: 100%;
    border-bottom: 1px solid rgb(185, 182, 182);
}
th{
    font-size: 20px;
    padding-bottom: 5px;
}
td{
    padding: 10px 0px;
    border-top: 1px solid rgb(185, 182, 182);
}
.container button{
    padding: 10px 15px;
    font-size: 15px;
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color: rgb(48, 136, 48);
    font-weight: bold;
    border: none;
    color: white;
}
.quyen{
    border-radius: 10px;
    background-color: red;
    color: white;
    padding: 7px;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.btn-fix{
    border-radius: 10px;
    background-color: orange;
    color: black;
    padding: 5px;   
    border: none; 
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.btn-delete{
    border-radius: 10px;
    background-color: red;
    color: white;
    padding: 5px;    
    border: none;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}