body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    background-color: rgb(89, 89, 211);
    color: white;
    align-items: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration-line: none;
    color: white;
}
ul{
    list-style: none;
    padding: 0px;
}
.menu{
    display: flex;
    gap: 15px;
    align-items: center;
}
li{
    padding: 0px;
    
}
.menu li ul{
    position:absolute;
    background-color: rgba(51, 45, 45, 0.8);
    padding: 5px;
    border-radius: 5px;
    margin: 0px;
    top: 33px;
    display:none;
}
.menu li:hover ul{
    display: block;
}
.sub-menu li{
    border-bottom: 1px solid rgb(181, 172, 172); 
    padding: 5px;
}
.banner{
    width: 85%;
    margin:auto;
    margin-top: 20px;
}
main{
    width: 85%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    gap: 30px;
}
.box-left{
    width: 20%;
}
.box-right{
    width: 80%;
}
.timkiem{
    border: 1px solid lightgray;
    width:fit-content;
    border-radius: 5px;
}
.timkiem input{
    font-size: 15px;
    border-radius: 5px 0px 0px 5px;
    border: none;
    padding: 7px;
}
.timkiem button{
    font-size: 15px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    padding: 7px 10px;    
    background-color: rgb(85, 85, 203);
    color: white;
}
.tab-menu{
    border-radius: 10px;
    border: 1px solid lightgray;
}
.tab-menu li{
    padding: 10px;
}
.border{
    border-bottom: 1px solid lightgray;
    border-radius: 10px;
}
.snb1{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.snb1 img{
    width: 90%;

}
.khung{
    border: 1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    place-content: center;
}
.ttin{
    padding-left: 20px;

}
.muon{
    background-color: blue;
    color:azure;
    border-radius: 10px;
    width:fit-content;
    padding: 10px;
    margin-top: 20px;

}
.ttin1{
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;

}
.ttin2{
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{font-family: Arial, Helvetica, sans-serif;}