body{
    display: flex;
    width: 100%;
    margin: 0px;
}
.box-trai{
    background-color: rgb(89, 89, 211);
    width: 15%;
    height: 695px;
}
.box-phai{
    width: 85%;
    margin-right: 0;
}
.title{
    font-size: 20px; 
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif; 
    padding: 15.5px;
    color: white;
}
.box{
    border-bottom: 1px solid gray;
    background-color: aliceblue;
    width: 90%;
    margin:auto;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 15px;

}
.box li{
    padding: 10px;
}
.box li:hover{
    background-color: rgb(89, 89, 211,0.5);
}
.menu{
    background-color: rgb(89, 89, 211);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px;
}
.menu li ul{
    position:absolute;
    background-color: rgba(51, 45, 45, 0.8);
    padding: 5px;
    border-radius: 5px;
    margin: 0px;
    top: 35px;
    right: 10px;
    display:none;
    padding: 10px;
}
.menu li:hover ul{
    display: block;
}
.sub-menu li{
    border-bottom: 1px solid white;
}
.sub-menu a{
    color: white;
}
ul{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
}
a{
    text-decoration-line: none;
    color: black;
}
.content { 
    flex: 1; 
    padding: 30px; 
    background-color: white; }

        .header-row {
            display: flex; 
            align-items: center;
            margin-bottom: 20px;
        }
        .page-title { 
            font-size: 24px; 
            margin-right: 15px; }
        .badge {
            background-color: #ffc107; 
            padding: 5px 10px;
            border-radius: 4px;
            font-weight: bold;
            font-size: 14px;
        }
        .chia-cot {
            display: flex; 
            width: 100%;
        }

        .cot-trai {
            width: 40%; 
            padding-right: 30px; 
        }

        .cot-phai {
            width: 60%; 
            padding-left: 30px;
            border-left: 1px solid #ddd; 
        }

        .bang-thong-tin {
            width: 100%;
           
        }
        .bang-thong-tin td {
            padding: 12px 0;
            border-bottom: 1px solid #f0f0f0;
            font-size: 14px;
        }
        .nhan-de { 
            font-weight: bold; 
            width: 130px; }

      
        .select-box {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

       
        .book-header {
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid #eee;
            padding-bottom: 10px;
            margin-bottom: 15px;
            font-weight: bold;
        }

        .book-item {
            display: flex; 
            margin-bottom: 15px;
        }
        .book-img {
            width: 50px;
            height: 70px;
            background-color: #ccc;
            object-fit: cover;
            margin-right: 15px;
        }
        .book-detail {
            flex: 1; 
        }
        .book-qty {
            font-weight: bold;
        }