body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    background-color: rgb(89, 89, 211);
    color: white;
    align-items: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration-line: none;
    color: white;
}
ul{
    list-style: none;
    padding: 0px;
}
.menu{
    display: flex;
    gap: 15px;
    align-items: center;
}
li{
    padding: 0px;
    
}
.menu li ul{
    position:absolute;
    background-color: rgba(51, 45, 45, 0.8);
    padding: 5px;
    border-radius: 5px;
    margin: 0px;
    top: 33px;
    display:none;
}
.menu li:hover ul{
    display: block;
}
.sub-menu li{
    border-bottom: 1px solid rgb(181, 172, 172); 
    padding: 5px;
}
.banner{
    width: 85%;
    margin:auto;
    margin-top: 20px;
}